<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="content">

            <h2>“pass the challenges </h2>
            <h2>and escape your way out”</h2>
            <p>see mystery questions, get hints, solve them, and move to the next level</p>
            <div class="btn-container">
                <input class="phone" type="text" placeholder="Enter your phone number">
                <button class="start" onclick="window.location.href='/level/1'">Start</button>
            </div> 
        </div>

    </div>
</body>
<script>
    const phone = document.querySelector('.phone')
    const start = document.querySelector('.start')
    start.addEventListener('click', e => {
        e.preventDefault()
        const d = phone.value
        console.log(d)
      localStorage.setItem("mobile", phone.value)
      
    })
</script>
</html>