<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/game.css">
    <title>Outro | Escape Room</title>
</head>
<body>
    <div class="container">
        <h1>outro</h1>
        <p>level {{level}}/5</p>
        <div class="content">
            <div class="content-title">
                <p>{{ques}}</p>
                </div>
                <div class="content-img">
                    <div class="c-img">
                        <img src="../static/images/1.1.png" alt="">
                    </div>
                    <div class="c-img">
                        <img src="../static/images/1.2.png" alt="">
                    </div>
                    <div class="c-img">
                        <img src="../static/images/1.3.png" alt="">
                    </div>
                </div>

                <input class="ans" type="text">
                <button class="submit-btn">submit</button>

                <h4>can’t guess it quite right? get a hint</h4>
            </div>
        </div>
    </div>
</body>
<script>
    const ans = document.querySelector(".ans")
    const submit = document.querySelector(".submit-btn")

    submit.addEventListener("click", e => {
        e.preventDefault();

        const value = ans.value.toLowerCase();

        if(value == "{{ans}}" && "{{level}}"!="5"){
            // window.location.href="/level/{{next}}"
            // alert("correct, navigate to next screen")
            $.ajax({
      type: "POST",
      url: "/level/{{next}}",

      data: {
         
         phone: "{{num}}"
      }
   }).then(() => {
       window.location.href = "/level/{{next}}"
   }) 
        }
        else if(value == "{{ans}}" && "{{level}}"=="5"){
            window.location.href="/success"
        }
        else {
           window.location.href="/fail"
        }
    })
</script>
</html>